/** 项目整体 */
html{
    position: relative;
    height: 100%;
    overflow-y: hidden;
}
body{
    position: relative;
    height: 100%;
    min-width: 1280px;
    /*background: #f1f5f5;*/
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 15px;
}

/** material样式 变更部分 */
.input-field {
    margin-bottom: 0;
}

.btn:hover{
    background: #724278;
}
.btn{
    background: #724278;
}

/*.input-field .prefix.active {*/
    /*color: #4e84cb;*/
/*}*/
/*.input-field label {*/
    /*color: #000;*/
/*}*/
/*.input-field input[type=text]:focus + label {*/
    /*color: #4e84cb;*/
/*}*/
/*.input-field input[type=password]:focus + label {*/
    /*color: #4e84cb;*/
/*}*/
/*.input-field input[type=text]:focus  {*/
    /*color: #4e84cb;*/
    /*border-bottom: 1px solid #4e84cb;*/
    /*box-shadow: 0 1px 0 0 #4e84cb;*/
/*}*/
/*.input-field input[type=password]:focus  {*/
    /*color: #4e84cb;*/
    /*border-bottom: 1px solid #4e84cb;*/
    /*box-shadow: 0 1px 0 0 #4e84cb;*/
/*}*/
/*.input-field input[type=text]:focus  {*/
    /*color: #4e84cb;*/
    /*border-bottom: 1px solid #4e84cb;*/
    /*box-shadow: 0 1px 0 0 #4e84cb;*/
/*}*/






/** 画面加载样式 Start */
.c-loader-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10000000000;
}
.c-loader-box {
    width: 100%;
    height: 100%;
    display: flex;=
    align-items: center;
    align-items: center;
    justify-content: center;
}
.c-loader-circle {
    width :9em;
    height :9em;
}
/** 画面加载样式 End */


/** 画面主体部分样式 */
.context-height{
    height: calc(100% - 147px);
    /*background: #f1f5f5;*/
    overflow-y: auto;
    margin-top: 20px;
}

/** modal 样式定义部分 start */
.modal{
    min-width: 900px;
}

#enquiryModal{
    max-height: 556px;
}

.modal-title{
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: #724278;
}

/** modal 样式定义部分 end */

.close-btn {
    width: 110px;
    background-color: #9E9E9E;
}

.confirm-btn {
    width: 110px;
    background-color: #724278;
}

/** 下面是要删除的 */
.temp {
    font-size: 15px;
    display: block;
    border:1px solid #ff0000;
}

.custom-select {
    display: block;
}


.error-msg {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: #F44336;
}