/** 项目整体 */
html {
    position: relative;
    height: 100%;
    overflow-y: hidden;
}

body {
    position: relative;
    height: 100%;
    min-width: 1368px;
    /*background: #f1f5f5;*/
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 15px;
}

/** 主画面 主体部分样式 */
.main-body {
    /** header height 64px + footer height: 50px + margin-top: 2px = 116px */
    height: calc(100% - 116px);
    overflow-y: auto;
    margin-top: 2px;
    padding-top: 20px;
}

/* 主画面 底部样式 (固定) */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    z-index: 10;
    background: #6F6B83;
    padding-top: 12px;
    text-align: right;
}

.footer-msg {
    color: white;
    padding-right: 20px;
    font-size: 15px;
}

/** 画面加载样式 Start */
.c-loader-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10000000000;
}

.c-loader-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-loader-circle {
    width: 9em;
    height: 9em;
}
/** 画面加载样式 End */

/** Material样式 变更部分 Start */
.input-field {
    margin-bottom: 0;
}

.btn {
    background: #724278;
}

.btn:focus {
    background-color: #6E2678 !important;
    color: white;
}

.btn:hover {
    background-color: #6E2678 !important;
    color: white;
}

.side-nav .divider {
    margin: 0;
}
/** Material样式 变更部分 End */

/* Material补充样式 label active 状态 (手动激活) */
.label-active {
    -webkit-transform: translateY(-14px) scale(0.8) !important;
    transform: translateY(-14px) scale(0.8) !important;
    -webkit-transform-origin: 0 0 !important;
    transform-origin: 0 0 !important;
}

/** Material补充样式 左侧导航栏 自定义 顶层按钮 */
.side-navigation {
    padding: 0 16px !important;
}

.side-navigation i {
    font-size: 1.6rem !important;
}

/** Material补充样式 自定义字体大小 */
.fz12 {
    font-size: 12px;
}

.fz13 {
    font-size: 13px;
}

.fz14 {
    font-size: 14px;
}

.fz15 {
    font-size: 15px;
}

.fz16 {
    font-size: 16px;
}

.fz17 {
    font-size: 17px;
}

.fz18 {
    font-size: 18px;
}

.fz19 {
    font-size: 19px;
}

.fz20 {
    font-size: 20px;
}

.fz21 {
    font-size: 21px;
}

.fz22 {
    font-size: 22px;
}

.fz23 {
    font-size: 23px;
}

.fz24 {
    font-size: 24px;
}

.fz25 {
    font-size: 25px;
}

.fz26 {
    font-size: 26px;
}

.fz27 {
    font-size: 27px;
}

.fz28 {
    font-size: 28px;
}

.fz29 {
    font-size: 29px;
}

.fz30 {
    font-size: 30px;
}

.fz31 {
    font-size: 31px;
}

.fz32 {
    font-size: 32px;
}

.fz33 {
    font-size: 33px;
}

.fz34 {
    font-size: 34px;
}

.fz35 {
    font-size: 35px;
}

.fz36 {
    font-size: 36px;
}

/** modal 样式定义部分 start */
.modal {
    min-width: 900px;
}

.modal-title {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    background-color: #724278;
}

.modal .modal-footer {
    padding: 4px 20px;
}

.modal .modal-footer .btn {
    margin: 6px 0 0 20px;
}

.close-btn {
    width: 110px;
    background-color: #9E9E9E;
}

.close-btn:hover {
    background: #8D8D8D;
}

.confirm-btn {
    width: 110px;
    background-color: #724278;
}

.confirm-btn:hover {
    background: #6E2678;
}

#enquiryModal {
    max-height: 556px;
}

#routeModal {
    max-height: 356px;
}
/** modal 样式定义部分 end */

/** react-select 错误信息样式 */
.error-msg {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: #F44336;
}

/** 标题：画面主体部分，标题部分样式 */
.page-title {
    font-weight: bold;
    font-size: 16px;
    color: #724278 !important;
}

.purple-font {
    color: #724278 !important;
}

.pink-font {
    color: #B6598F !important;
}

.red-font {
    color: #F44336;
    margin: 0 5px 0 5px;
}

.custom-purple {
    background-color: #724278 !important;
}

/** 卡片布局时，数据列表样式(城市设置画面) */
.card-unit {
    margin-top: 8px;
    margin-bottom: 10px;
    color: #B6598F;
    border: 1px solid #DCAFC9;
}

/** 线路设置画面：卡片布局时，数据列表样式 */
.route-card {
    margin-bottom: 15px;
    /*border: 1px solid #A799A8;*/
    /*color: #846B8A;*/
    border: 1px solid #DCAFC9;
    color: #B6598F;
    background: white;
    width: 100%;
    height: 56px;
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
}







/** 下面是临时样式 要删除的 */
.temp {
    font-size: 15px;
    display: block;
    border: 1px solid #ff0000;
}

.custom-select {
    display: block;
}